<div class="layout-row layout-xs-column">
    <md-card class="flex-20">
        <md-card-header>
            <md-card-text>Uploaded</md-card-text>
        </md-card-header>
        <md-card-content>
            <dpdx-tree nodes="nodeList"></dpdx-tree>
        </md-card-content>
    </md-card>
    <md-card class="flex-80">
        <md-card-header>
            <md-card-text>Document Table</md-card-text>
        </md-card-header>
        <md-card-content style="overflow-x:auto">
            <dpdx-grid table-data="sourceData"></dpdx-grid>
        </md-card-content>
    </md-card>
    <!--<md-card class="flex-25">
        <md-card-header>
            <md-card-text>Filtered</md-card-text>
        </md-card-header>
        <md-card-content>
            Outbound Tree goes here
        </md-card-content>
    </md-card>-->
</div>